[submodule "wpftoolkit"]
	path = wpftoolkit
	url = https://github.com/maximilien-noal/wpftoolkit
[submodule "DatabaseLayer/PetaPoco"]
	path = DatabaseLayer/PetaPoco
	url = https://github.com/CollaboratingPlatypus/PetaPoco
